<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Title</title>

        <!-- Bootstrap -->

        <!-- General JS -->

        <!-- RequireJS Modules -->
        <script data-main="scripts/main" src="scripts/external/require.js"></script>
    </head>
<body>
