<%- include('partials/header') %>

<h1>Hello World!</h1>

<p id="about">
    This is a monolithic NodeJS server template. Feel free to customize it to your own taste.
</p>

<%- include('partials/footer') %>